      <!-- barra superior -->
    <div class="container-welcome">
        
        <mat-toolbar class="mat-toolbar-nav" >


            <a routerLink="/inicio">         
                <span class="txt1">Inicio</span> 
            </a>
        
        
            <span class="example-spacer"></span>
    
    
            <div class="d-none d-lg-flex align-items-center">
                <a href="">
                    <span class="txt2">Ayuda</span>
                </a>
                <a href="">
                    <span class="txt2">Seguimiento de pedidos</span>
                </a>
                <a href="">
                    <span class="txt2 iniciar-sesion">Iniciar sesión</span>
                </a>
            </div>
    
            <!-- Íconos para pantallas pequeñas -->
            <div class="d-flex d-lg-none align-items-center">
                <button mat-icon-button>
                    <mat-icon>help_outline</mat-icon> <!-- Icono para "Ayuda" -->
                </button>
                <button mat-icon-button>
                    <mat-icon>local_shipping</mat-icon> <!-- Icono para "Seguimiento de pedidos" -->
                </button>
                <button mat-icon-button>
                    <mat-icon>login</mat-icon> <!-- Icono para "Iniciar sesión" -->
                </button>
            </div>
        </mat-toolbar>
        <div class="mala">
            
        </div>
    </div>

